  
 
 
<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Jekyll v3.8.6">
<title>Jumbotron Template · Bootstrap</title>
 
 
<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/jumbotron/">
 
 
<!-- Bootstrap core CSS -->
<link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
 
<!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">
 
 
 
 
<style>
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
 
 
@media (min-width: 768px) {
.bd-placeholder-img-lg {
font-size: 3.5rem;
}
}
</style>
<!-- Custom styles for this template -->
<link href="jumbotron.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="../home/">Bookends</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
 
 
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="../home/">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Link</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
<div class="dropdown-menu" aria-labelledby="dropdown01">
<a class="dropdown-item" href="#">Action</a>
<a class="dropdown-item" href="#">Another action</a>
<a class="dropdown-item" href="#">Something else here</a>
</div>
</li>
</ul>
<form class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>
 
 
<main role="main">
 
 
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-color:#fbe327">
    <div class="container">
        <h1 class="display-3">Welcome to the Library!</h1>
        <p>Browse Books Here and Add Them to your Cart</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Login &raquo;</a></p>
    </div>
</div>
 
 
<h3>Our Library</h3>

{% if books %}
    <ul>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Select Book</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">ISBN</th>
                <th scope="col">Location</th>
                <th scope="col">Available</th>
                <th scope="col">Picture</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
	
                <tr>
                    <td scope="row"> <!-- Default unchecked --> <div class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3"> </div> </td>
                    <td id="title"></td>
                    <td id="author"></td>
                    <td id=isbnid>{{ book.isbn }}</td>
                    <td>{{ book.location }}</td>
                    <td>{{ book.available }}</td>
                    <td id="imagehere"></td>

                    <script type="text/javascript">
                        var isbnjs = {{ book.isbn}};
                        isbnjs = isbnjs.toString();
                        console.log(isbnjs);
                        console.log(typeof(isbnjs));
                        var url='';
                        var img='';
                        var title='';
                        var author='';
                
                        $.get("https://www.googleapis.com/books/v1/volumes?q=" + isbnjs, function(response){
                            console.log("inside api response");
                
                            for(i=0;i<1;i++){
                                title=$('<p>' + response.items[i].volumeInfo.title + '</p>')
                                author=$('<h5 class="center-align white-text">' + response.items[i].volumeInfo.authors + '</h5>')
                                img=$('<img class="card z-depth-5" id="dynamic"><br><a href=' + response.items[i].volumeInfo.infoLink + '><button id="imagebutton">Read More</button></a>');
                                url= response.items[i].volumeInfo.imageLinks.thumbnail;
                                img.attr('src', url);
                                title.appendTo("#title");
                                author.appendTo("#author");
                                img.appendTo("#imagehere");
                
                            }
                        });
                        isbnjs = null;
                    </script>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </ul>
 
 
{% else %}
    <p>No books are available.</p>
{% endif %} 
