<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'bookends:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>

<div id="search">
    <form id="myform">
        <a href="#" onclick="document.forms['myform'].submit();">Call Form</a>
        <div class="input-field">
            <input type="search" id="books">
            <label for="search">Search Books</label>
        </div>
        <button type="submit">Search Books</button>
    </form>
</div>

<div id="result">

</div>

    <label for="isbn">Your name: </label>
    <input id="isbn" type="search" name="isbn" value="{{ current_name }}">
    <input name="formSubmitIndex" type="submit" value="OK">

<button id="about-btn"> Click Me - I'm Javascript on Speed</button>

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--script src="polls/statics/js/search.js"></script-->
<script type="text/javascript">
    $(document).ready(function(){
        console.log("after document");
        $("#myform".submit(function(){
            console.log("after submit");
            var search = $("#books").val();
            if(search == ''){
                alert("Please enter something in the field.");
            }
            else{
                var url='';
                var img='';
                var title='';
                var author='';
    
                $.get("https://www.googleapis.com/books/v1/volumes?q=" + search, function(response){
                    console.log(response);
    
                    for(i=0;i<response.items.length;i++){
                        title=$('<h5 class="center-align white-text">' + response.items[i].volumeInfo.title + '</h5>')
                        author=$('<h5 class="center-align white-text">' + response.items[i].volumeInfo.authors + '</h5>')
                        img=$('<img class="card z-depth-5" id="dynamic">');
    
                    }
                });
            }
        }));
        $("#about-btn").click( function(event) {
            alert("You clicked the button using JQuery!");
        });
        return false;
    });
</script>