
<h3>Payment Test Page</h3>
{% load crispy_forms_tags %}

{% block content %}
<form action="/bookends/payments/" method="post">
    {% csrf_token %}
    <h5>inside form</h3>
    {% include "bookends/payments.html" %}

    <a href="/bookends/payments">{{ payments.html }}</a>

    {{ Payments.method }}
    <div class="form-group">
        {{ payments.amountreceived }}
    </div>
    <div class="form-group">
        {{ payments.datepaid }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}